### SOURCE REPOS ###

scripts/aeroblade/*
scripts/RIGID/*
scripts/spai/*
scripts/LOTA/*
scripts/DIRE/*
scripts/SSP-AI-Generated-Image-Detection/*

# keep the directories themselves
!scripts/aeroblade
!scripts/aeroblade/experiments/01_detect.py
!scripts/LOTA
!scripts/LOTA/loader.py
!scripts/LOTA/config.py
!scripts/spai
!scripts/DIRE
!scripts/SSP-AI-Generated-Image-Detection

### MODELS ###
# Do not upload model checkpoints.

**/*.pt
**/*.pth

### AEROBLADE RECONSTRUCTIONS ### 
**/aeroblade_output/
scripts/aeroblade/output
scripts/aeroblade/data

### DATA ###

# Only upload example images, whole datasets are too large.
data/**

# Preserve data
!data/**/

# Provides one sample image for every category.
!**/medi-wechsler-dinu_portrait-of-mamut.jpg
!**/2-188074219-477667.jpg
!**/5-238237867-376745.jpg
!**/7-121589997-281672.jpg
!**/xu-beihong_awaiting-the-deliverer-1933.jpg
!**/augustus-john_signorina-estella-1900.jpg
!**/theophile-steinlen_la-terme-franco-russe-1897.jpg
!**/albert-lynch_the-letter-checkpoint.jpg
!**/0-242905561-323331.jpg
!**/6-180974383-584219.jpg
!**/5-206572668-534283.jpg
!**/3-210705985-886883.jpg
!**/8-122630310-715216.jpg
!**/edvard-munch_despair-1892.jpg
!**/esaias-van-de-velde_farm-on-a-river-between-trees.jpg
!**/4-237690393-997899.jpg
!**/meret-oppenheim_termitenk-nigin-1975.jpg
!**/3-152631245-363023.jpg
!**/1-107841816-722823.jpg
!**/9-106261592-924817.jpg
!**/8-161163532-602932.jpg
!**/7-118869834-234411.jpg
!**/pavel-svinyin_the-monument-to-alexander-hamilton-at-weehawken.jpg
!**/0-226068123-315525.jpg
!**/hans-baldung_hans-baldung-grien-and-john-rudalfinger-1534.jpg
!**/6-236496604-814652.jpg
!**/shunkosai-hokushu_175.jpg
!**/4-180262915-191943.jpg
!**/2-21175149-593705.jpg
!**/1-232213917-366265.jpg
!**/9-238856287-189780.jpg
!**/6-943939507-302188.jpg
!**/0-356323667-503276.jpg
!**/eugene-boudin_approaching-storm-1864.jpg
!**/max-liebermann_jewish-quarter-in-amsterdam-1905.jpg
!**/8-497887124-807166.jpg
!**/3-425896342-155022.jpg
!**/4-801878570-461481.jpg
!**/5-997141624-210750.jpg
!**/4-60140811-771682.jpg
!**/2-631518030-223297.jpg
!**/byam-shaw_raphael-and-the-mob-illustration-from-a-1914-edition-of-charles-kingsleys-1853-novel-hypatia-1914.jpg
!**/7-422823330-680308.jpg
!**/5-595595370-380848.jpg
!**/lynd-ward_not-detected-272486.jpg
!**/paul-nash_landscape-from-a-dream-1938.jpg
!**/6-881498397-506187.jpg
!**/utagawa-kuniyoshi_625.jpg
!**/0-826553012-984356.jpg
!**/9-808525354-876641.jpg
!**/2-847503060-245787.jpg
!**/1-283845641-396555.jpg
!**/gustaf-wappers_anthony-van-dyck-in-love-with-his-model-1827.jpg
!**/8-319605262-323006.jpg
!**/3-644633589-117735.jpg
!**/samuel-peploe_north-berwick-sands-1896.jpg
!**/jan-luyken_johannes-merchent-of-cordoba-being-taken-for-execution-ad-850-1685.jpg
!**/lucas-cranach-the-elder_georg-der-b--C3--A4rtige-duke-of-saxony.jpg
!**/9-477207318-344346.jpg
!**/7-900339592-483147.jpg
!**/1-823732280-178681.jpg
!**/Francisco_Goya_208.jpg
!**/Albrecht_Dи╣rer_100-checkpoint.jpg
!**/68645308_p0_master1200.jpg
!**/Paul_Klee_83.jpg
!**/69562977_p0_master1200.jpg
!**/68588661_p0_master1200-checkpoint.jpg
!**/Claude_Monet_39.jpg
!**/69092069_p0_master1200.jpg
!**/71849236_p0_master1200.jpg
!**/Henri_Rousseau_48.jpg
!**/Pablo_Picasso_371.png
!**/71720877_p0_master1200.png
!**/66698281_p0_master1200.png
!**/Rembrandt_111.png
!**/69232286_p0_master1200.jpg
!**/71834240_p0_master1200-checkpoint.jpg
!**/Diego_Velazquez_39.jpg
!**/68612006_p0_master1200.jpg
!**/69532081_p0_master1200-checkpoint.jpg
!**/Mikhail_Vrubel_68.jpg
!**/Gustav_Klimt_113-checkpoint.jpg
!**/Edgar_Degas_241.jpg
!**/71860760_p0_master1200.jpg

